.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-img{
    border-radius: 5px;
}

.card-main{
    position: relative;
}

.pin-text{
    position: absolute;
    bottom: 8px;
    left: 50px;
    color: white;
}


.details-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.details{
    width: 400px;
    text-align: left;
}

.details a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.details a:hover{
    color: green;
}

.back-btn{
    margin-top: 20px;
    cursor: pointer;
}